h3, p {
  margin: 0;
}

span  {
  color: #d81b60;
  font-weight: normal;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

* {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}
