@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    height: 77vh;
}

header i {
    font-size: 2.5rem;
}

header i:hover {
    cursor: pointer;
}

.link {
    font-size: 4rem;
    margin: 0 15px;
}

.square {
    font-family: Monaco, sans-serif;
    height: 268px;
    width: 268px;
}

.square h1 {
    font-size: 4.25rem;
}

.square h2 {
    font-size: 8rem;
}

.square p {
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 800px) {
    .link:hover {
        cursor: pointer;
    }

    .link {
        font-size: 5rem;
        margin: 0 20px;
    }

    .square {
        height: 440px;
        width: 440px;
    }

    .square h1 {
        font-size: 7rem;
    }

    .square h2 {
        font-size: 14rem;
    }

    .square p {
        font-size: 3.5rem;
    }
}