.logo {
    font-family: Monaco, sans-serif;
    height: 232px;
    width: 232px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #BA0C2F;
}

.logo h1 {
    font-size: 3.75rem;
}

@media (min-width: 800px) {
    .logo {
        height: 435px;
        width: 435px;
        border: 5px solid #BA0C2F;
    }

    .logo:hover {
        background: #ba0c2f;
    }

    .logo h1 {
        font-size: 7rem;
    }
}